Repository netty/netty, pull requests merged in 2020-09, with the labels that each got.

#10546 Explicit need to specify -Piouring-native to compile the native bits …
  example/pom.xml
  transport-native-io_uring/pom.xml
  transport-native-io_uring/src/test/java/io/netty/channel/uring/example/EchoIOUringServer.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/example/EchoIOUringServerHandler.java
Labels: io_uring

#10540 Handle when io_uring_enter(...) fails with EINTR
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
Labels: io_uring

#10552 Fix regression when trying to bind an EpollDatagramChannel with port
  testsuite/src/main/java/io/netty/testsuite/transport/socket/DatagramUnicastTest.java
  transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollDatagramChannel.java
  transport-native-epoll/src/main/java/io/netty/channel/epoll/LinuxSocket.java
Labels: regression

#10538 Only execute the close once the already added write operations completes
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/LinuxSocket.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/NativeStaticallyReferencedJniMethods.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/PollRemoveTest.java
  transport-native-unix-common/src/main/java/io/netty/channel/unix/FileDescriptor.java
  transport/src/main/java/io/netty/channel/AbstractChannel.java
Labels: io_uring

#10551 Only schedule another read if the FD is still open
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
Labels: io_uring

#10368 Improve predictability of writeUtf8/writeAscii performance
  buffer/src/main/java/io/netty/buffer/AbstractByteBuf.java
  buffer/src/main/java/io/netty/buffer/ByteBufUtil.java
  buffer/src/test/java/io/netty/buffer/ByteBufUtilTest.java
  common/src/main/java/io/netty/util/internal/PlatformDependent.java
  common/src/main/java/io/netty/util/internal/PlatformDependent0.java
  microbench/src/main/java/io/netty/microbench/buffer/ByteBufUtilBenchmark.java
  microbench/src/main/java/io/netty/microbench/buffer/Utf8EncodingBenchmark.java
  microbench/src/main/resources/Utf8Samples.txt
Labels: discussion, improvement

#10555 Allow to specify a callback that is executed once submit was called and
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUring.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10559 Move IovArray handling code in an extra class to better seperate it and
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IovArrays.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IovArraysTest.java
Labels: io_uring

#10543 Exploit blocking FAST_POLL for eventfd reads
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10544 Simplify SQE handling
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
Labels: io_uring

#10561 Added error handling for io_uring creation failure
  transport-native-io_uring/src/main/c/netty_io_uring.h
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
Labels: io_uring

#10563 Cleanup IOUringEventLoopGroup construction and allow to specify the ring
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoopGroup.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
Labels: io_uring

#10542 Further reduce io_uring syscalls
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10568 Access the field directly from JNI
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
Labels: io_uring

#10570 Obtain remoteAddress as part of accept
  transport-native-io_uring/src/main/c/netty_io_uring_linuxsocket.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringServerChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringServerSocketChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSocketChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/LinuxSocket.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringSubmissionQueueTest.java
  transport-native-unix-common/src/main/c/netty_unix_socket.c
  transport-native-unix-common/src/main/c/netty_unix_socket.h
Labels: io_uring

#10571 Simplify JNI init code
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/RingBuffer.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringSubmissionQueueTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10576 Allow to configure if IOSEQ_ASYNC is used per EventLoopGroup
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoopGroup.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
Labels: io_uring

#10585 Directly write / read sockaddr_in and sockaddr_in6 from direct memory
  transport-native-io_uring/src/main/c/netty_io_uring_linuxsocket.c
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringServerChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringServerSocketChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/LinuxSocket.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/NativeStaticallyReferencedJniMethods.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/SockaddrIn.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/SockaddrInTest.java
Labels: io_uring

#10589 There is currently no support for sendfile when using io_uring, remove
  transport-native-io_uring/src/main/c/netty_io_uring_linuxsocket.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/LinuxSocket.java
Labels: io_uring

#10591 Make reading and writing of sockaddr_in / sockaddr_in6 more robust
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/NativeStaticallyReferencedJniMethods.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/SockaddrIn.java
Labels: io_uring

#10596 Only create ConnectTimeoutException if really needed
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
Labels: io_uring

#10597 Decouple rwflags from user data
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
Labels: io_uring

#10594 Cleanup the IOUringCompletionQueue and add some javadocs
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
Labels: io_uring

#10586 Cleanup
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
Labels: io_uring

#10588 Add IOUringDatagramChannel and so also support UDP
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringServerChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringDatagramChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringDatagramChannelConfig.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Iov.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/MsgHdr.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/NativeStaticallyReferencedJniMethods.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/SockaddrIn.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramConnectNotExistsTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramMulticastIPv6Test.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramMulticastTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramUnicastIPv6MappedTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramUnicastIPv6Test.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringDatagramUnicastTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringSocketTestPermutation.java
Labels: io_uring

#10609 Include header files to allow building on older machines
  NOTICE.txt
  license/LICENSE.liburing.txt
  transport-native-io_uring/src/main/c/io_uring.h
  transport-native-io_uring/src/main/c/netty_io_uring.h
  transport-native-io_uring/src/main/c/syscall.c
  transport-native-io_uring/src/main/c/syscall.h
Labels: io_uring

#10615 Close IOUringEventLoop wakeup/eventfd close shutdown race
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10619 Ensure we can compile io_uring transport on systems that have linux k…
  transport-native-io_uring/pom.xml
  transport-native-io_uring/src/main/c/io_uring.h
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/c/syscall.c
Labels: io_uring

#10617 Fix bitmasking / bitshifting code to encode / decode user data
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringServerChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueueCallback.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringDatagramChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/UserData.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IOUringSubmissionQueueTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/UserDataTest.java
Labels: io_uring

#10606 Implement batching of reading and writing when using datagram with io…
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringServerChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringChannelOption.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringDatagramChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringDatagramChannelConfig.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Iov.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/MsgHdrMemory.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/MsgHdrMemoryArray.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/SockaddrIn.java
Labels: io_uring
