Repository netty/netty, pull requests merged in 2020-10, with the labels that each got.

#10625 Enable IOSQE_ASYNC depending on how many fds are handled
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoopGroup.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
Labels: io_uring

#10627 Dont pool IovArray but just allocate on the fly
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringStreamChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUring.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IovArrays.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/IovArraysTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
  transport-native-unix-common/src/main/java/io/netty/channel/unix/IovArray.java
Labels: io_uring

#10629 Replace UNSAFE.throwException with alternatives supported on Java 8
  codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostStandardRequestDecoder.java
  codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java
  codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java
  codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java
  codec-http2/src/main/java/io/netty/handler/codec/http2/HpackHuffmanEncoder.java
  codec/src/main/java/io/netty/handler/codec/base64/Base64.java
  common/src/main/java/io/netty/util/NetUtil.java
  common/src/main/java/io/netty/util/concurrent/FailedFuture.java
  common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java
  common/src/main/java/io/netty/util/internal/CleanerJava6.java
  common/src/main/java/io/netty/util/internal/CleanerJava9.java
  common/src/main/java/io/netty/util/internal/PlatformDependent.java
  common/src/main/java/io/netty/util/internal/PlatformDependent0.java
  common/src/main/java/io/netty/util/internal/StringUtil.java
  handler/src/main/java/io/netty/handler/ssl/JettyNpnSslEngine.java
  handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslEngine.java
  handler/src/main/java/io/netty/handler/ssl/SniHandler.java
  handler/src/main/java/io/netty/handler/ssl/SslHandler.java
  transport-sctp/src/main/java/io/netty/channel/sctp/nio/NioSctpChannel.java
  transport/src/main/java/io/netty/channel/AbstractCoalescingBufferQueue.java
  transport/src/main/java/io/netty/channel/ChannelHandlerMask.java
  transport/src/main/java/io/netty/channel/local/LocalChannel.java
  transport/src/main/java/io/netty/channel/socket/nio/NioDatagramChannel.java
Labels: cleanup

#10628 Always null out the connectPromise once the connect is complete
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
Labels: io_uring

#10530 Reduce DefaultAttributeMap cost
  common/src/main/java/io/netty/util/DefaultAttributeMap.java
  common/src/test/java/io/netty/util/DefaultAttributeMapTest.java
  microbench/src/main/java/io/netty/util/DefaultAttributeMapBenchmark.java
  microbench/src/main/java/io/netty/util/package-info.java
Labels: benchmark, improvement

#10632 Remove POLLRDHUP flag when handlePollAdd is called
  transport-native-io_uring/src/main/java/io/netty/channel/uring/AbstractIOUringChannel.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
Labels: io_uring

#10650 Raise the Netty 5 minimum required Java version to Java 11.
  all/pom.xml
  codec/src/test/resources/io/netty/handler/codec/xml/sample-04.xml
  docker/Dockerfile.centos
  docker/Dockerfile.cross_compile_aarch64
  docker/README.md
  docker/docker-compose.centos-6.110.yaml
  docker/docker-compose.centos-6.18.yaml
  docker/docker-compose.centos-6.19.yaml
  docker/docker-compose.centos-6.graalvm18.yaml
  docker/docker-compose.centos-7.110.yaml
  docker/docker-compose.centos-7.18.yaml
  docker/docker-compose.centos-7.19.yaml
  handler-proxy/pom.xml
  handler/src/main/java/io/netty/handler/ssl/util/OpenJdkSelfSignedCertGenerator.java
  handler/src/main/java/io/netty/handler/ssl/util/SelfSignedCertificate.java
  pom.xml
  tarball/pom.xml
  testsuite/pom.xml
  transport-blockhound-tests/pom.xml
  transport-sctp/src/main/java/com/sun/nio/sctp/AbstractNotificationHandler.java
  transport-sctp/src/main/java/com/sun/nio/sctp/Association.java
  transport-sctp/src/main/java/com/sun/nio/sctp/AssociationChangeNotification.java
  transport-sctp/src/main/java/com/sun/nio/sctp/HandlerResult.java
  transport-sctp/src/main/java/com/sun/nio/sctp/MessageInfo.java
  transport-sctp/src/main/java/com/sun/nio/sctp/Notification.java
  transport-sctp/src/main/java/com/sun/nio/sctp/NotificationHandler.java
  transport-sctp/src/main/java/com/sun/nio/sctp/PeerAddressChangeNotification.java
  transport-sctp/src/main/java/com/sun/nio/sctp/SctpChannel.java
  transport-sctp/src/main/java/com/sun/nio/sctp/SctpServerChannel.java
  transport-sctp/src/main/java/com/sun/nio/sctp/SctpSocketOption.java
  transport-sctp/src/main/java/com/sun/nio/sctp/SctpStandardSocketOptions.java
  transport-sctp/src/main/java/com/sun/nio/sctp/SendFailedNotification.java
  transport-sctp/src/main/java/com/sun/nio/sctp/ShutdownNotification.java
  transport-sctp/src/main/java/com/sun/nio/sctp/UnsupportedOperatingSystemException.java
  transport-sctp/src/main/java/com/sun/nio/sctp/package-info.java
  transport-sctp/src/main/java/io/netty/channel/sctp/SctpNotificationHandler.java
Labels: cleanup, dependencies, discussion

#10659 Fix #10614 by making UnorderedTPEExecutor.scheduleAtFixedRate run tasks more than once
  common/src/main/java/io/netty/util/concurrent/UnorderedThreadPoolEventExecutor.java
  common/src/test/java/io/netty/util/concurrent/UnorderedThreadPoolEventExecutorTest.java
  transport-native-epoll/src/test/java/io/netty/channel/epoll/EpollSocketChannelConfigTest.java
Labels: defect

#10725 Use opcode byte instead of int
  transport-native-io_uring/src/main/c/netty_io_uring_native.c
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringCompletionQueueCallback.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringEventLoop.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/IOUringSubmissionQueue.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/Native.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/NativeStaticallyReferencedJniMethods.java
  transport-native-io_uring/src/main/java/io/netty/channel/uring/UserData.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/NativeTest.java
  transport-native-io_uring/src/test/java/io/netty/channel/uring/UserDataTest.java
Labels: io_uring
